body {
  background-color: black;
}
.parent {
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
}
.child {
  background-color: black;
  border: 1.5px solid white;
  height: 1.5rem;
  width: 20rem;
  border-radius: 2px;
  color: aliceblue;
  font-size: large;
  letter-spacing: 20px;
  margin-top: 20%;
  position: absolute;
  padding: 5px;
  width: fit-content;
  box-shadow: 3px 1px 0.002px rgb(105, 93, 93);
}

.button1 {
  height: 2rem;
  margin-top: 10%;
  position: absolute;
  box-shadow: 1px 0.5px 0.002px rgb(105, 93, 93);
}
.button2 {
  height: 2rem;
  margin-top: 40%;
  position: absolute;
  box-shadow: 1px 0.5px 0.002px rgb(105, 93, 93);
}
.input {
  margin-top: 30%;
  position: absolute;
  width: 1.5rem;
  box-shadow: 1px 0.5px 0.002px rgb(105, 93, 93);
}
.form {
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
}
